# Run local server on this port (omit for .env.qa and .env.ci): 
PORT=8080

# Server secret for encoding JWT's:
SECRET=""

# URL that QR Code will encode:
USER_CLIENT_BASE_URL="<url>"

# Determines how long access tokens are valid for upon creation:
ACCESS_TOKEN_DURATION="5y"

# Comma separated list of host IP's allowed to make requests to this API:
ORIGIN_WHITELIST="<url>,<url>,<url>"

# URL of mongodb host
MONGODB_URI="<mongodb-url>"